
.header-info {
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.sender-info {
    font-weight: bold;
    margin-bottom: 5px;
}

.sender-address {
    margin-bottom: 5px;
}

.sender-contacts {
    margin-bottom: 5px;
}

.document-numbers {
    margin-top: 10px;
    font-size: 11pt;
}

.date-location {
    text-align: right;
    margin: 30px 0;
    font-weight: bold;
}

.recipient-address {
    margin-bottom: 40px;
}

.subject {
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    font-size: 13pt;
    text-decoration: underline;
}

.salutation {
    margin-bottom: 20px;
}


.numbered-list {
    margin: 20px 0 10px 40px;
}

.numbered-list li {
    margin-bottom: 10px;
}

.closing {
    margin-top: 60px;
}

.signature {
    margin-top: 80px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.signature__line {
    border-top: 1px solid #000;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 10pt;
    color: #666;
}

.important-note {
    background-color: #f8f9fa;
    border-left: 4px solid #0066cc;
    padding: 15px;
    margin: 20px 0;
    font-style: italic;
}

.highlight {
    font-weight: bold;
}

@media print {
    body {
        margin: 0;
        padding: 15mm;
    }

    .page-break {
        page-break-before: always;
    }
}